---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

---

<Layout title="Travis Griffiths CV">


    <div class="">
        Travis Griffiths
        travis@travisgriffiths.com
        857-777-8729
    </div>
  
    
    Skills
    Programming: Typescript, Javascript, Python, Ruby, HTML/CSS 
    Frameworks: React, Flask, Ruby on Rails, Redux 
    Data Analysis: Gathering, collation, and presentation of multi-dimensional data sets. 
    Data Visualization: D3, Highcharts, Zingcharts, reactive dashboards 
    Team software development: Git, Test-driven development (TDD), Scrum, Feature Design, Requirements gathering
    
    Work Experience
    Indigo Agriculture  		   			   					           Oct 2019-Present 
    Senior Software Engineer
    React/Redux Typescript interfacing Python Flask API and Postgres data store. 
    Responsible for building, testing and deploying code to allow for data collection and verification for the creation of carbon credits.
    Rebate   		   			   						      Oct 2018 – Oct 2019
    Chief Technology Officer
    Responsible for setting policy and goals for the development team. 
    Manage and measure infrastructure expenditure. 
    Suggest, design and oversee implementation of new features. 
    Manage staffing, training and planning for multiple developer teams across 4 different countries in Southeast Asia.
    Bespin Consulting   		   			   						Oct – Nov 2019
    Software Engineering Velocity Consultant
    Responsible to observe and report on software development processes and user experience delivery.
    Observations spread across 6 teams in both South Korea and People's Republic of China
    Cloudhealth Technologies   		   			   				      Jun 2013 – Oct 2018
    Software Engineer
    Design, build and test software to collection, analyze, and display AWS usage data for customers both small and very large. 
    Focused on graphical display of large data sets as reconfigurable graphs using Angular/D3, with Ruby on Rails and many shards of MySQL data sources in the back.
    All assets deployed in AWS cloud. Data analysis covered AWS, GCP, and Azure
    Quant5   		   			   				    		     Apr 2012 – Aug 2013
    Sr. Front End Web Programmer/Data Analyst
    Create and test high end graphical visualizations of large datasets and analysis using D3.js, CoffeeScript Jasmine testing as well as give feedback on efficacy of data visualizations and mathematical analysis of customer data
    RBM Technologies (OneDoor)   		   			   				    Feb 2011 – June 2012
    Web Programmer
    Create MVC web applications in Ruby on Rails and JavaScript to support customer needs to track and deploy national and international merchandising campaigns. 
    Test and update older code.
    Hitachi Data Systems   		   			   				    	      Jun 2010 – Feb 2011
    Test Engineer
    Build and automate tests for Hitachi storage products, primarily in Python programming language with support for Java, SQL, Perl and Linux shell scripts.
    Document test coverage, and any additions to the shared functional library for test framework.
    
    ***Work experience prior to Computer Science degree is available upon request***
    Education 
    San Jose State University: Bachelor of Science in Computer Science 2009 
    Concentration in Bioinformatics, Minors in Math and Economics 
    IBM Leadership and Project Management courses 2001 
    U.S. Army Primary Leadership Development Course, 1998 
    Monterey Peninsula College: Associate of Arts, Foreign Language Korean 1996
    

</Layout>